html {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

.container {
  max-width: 1220px;
 
}

img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
}

.img-coffee {
  height: 48px;
  width: 34px;
}

.img-instant,.img-frame {
  height: 48px;
  width: 48px;
}

.img-dslr {
  height: 45px;
  width: 47px;
}

.img-quotes{
  height: 26px;
  width: 32px;
  margin: 3px 15px 0 0;
}

.uppercase {
  border-bottom: 1px solid white;
}

.uppercase-dark {
  border-bottom: 1px solid #515f67;;
}

a {
  text-decoration: none; 
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.desc {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.desc-second {
  padding-top: 15px; 
}

.desc-contact {
  margin-bottom: 35px;
  padding-top: 30px;
}

a.link-email {
  font-weight: bold;
  color: #fff;
}

.quote {
  font-size: 14px;
  color: #4bcaff;
  font-weight: 700;
  padding-top: 15px;
}

video {
  height: 150px;
}

@media (min-width:960px){
  video {
   height: 250px;
  } 
}

@media (min-width:1140px){
  video {
    height: 313px;
  }
}