.hero {
    height: 645px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-foreground {
    position: relative;
}

.hero-description {
    max-width: 990px;
    text-align: center;
    font-size: 42px;
    color: #ffffff;
    font-weight: lighter;
    text-transform: uppercase;
    background-color: rgba(65,75,82, 0.8);
}

