.navigation {
    background-color: rgba(65,75,82, 0.5);
    position: relative;
    z-index: 1;
}

nav.navbar.navbar-light {
    padding: 7px 0;
}

.navbar-brand {
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff !important;
    font-weight: 700;
    line-height: 1;
}

.navbrand-word {
    color: #4aaad3;
}

.navbar-brand:hover {
    color: #4aaad3 !important;
}

.nav-link {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 18px;
    font-weight: 700;
    line-height: 24px;
    border: 2px solid transparent;
}

.nav-link:hover {
    border: 2px solid #4aaad3;
    color: #4aaad3;
}

.current {
    border: 2px solid #48b0dc;
    color: #48b0dc;
    padding: 6px 18px;
}

.navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.nav-link-mobile {
    color: white;
    padding: 10px;
    text-transform: uppercase;
   
}

@media (max-width:960px){
   .nav-mobile {
      display: block;
    }
    .nav-desktop {
    display: none;
    }
}

@media (min-width:960px){
    .nav-mobile {
       display: none;
    }
   .nav-desktop {
       display: block;
       padding: 55px 0 53px 0;
   }
}
   