.section {
  padding: 73px 0;
}

.section-services,.section-twitter {
    background-color: #4bcaff;
    padding-bottom: 65px;
}



.section-title {
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: lighter;
    margin-bottom: 33px;
}

.section-title.portfolio,.light-title {
    color: #515f67;
    margin-bottom: 0;
}

.section-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 75px;
}
  
  .section-default {
    background-color:#515f67;
  }
  
  .section-description {
    color: #ffffff;
    line-height: 50px;
    font-size: 28px;
    max-width: 1055px;
  }

  .light-desc {
    color: #515f67;
  }

  .section-about {
      background-image: url('../../images/bg_photo.png');
      object-fit: cover;
  }

  .section-contact{
    background-image: url('../../images/Layer_1.png');
    object-fit: cover;
}