@font-face {
  font-family: 'icomoon';
  src:  url('../../font/fonts/icomoon.eot?5f8d2e');
  src:  url('../../font/fonts/icomoon.eot?5f8d2e#iefix') format('embedded-opentype'),
    url('../../font/fonts/icomoon.ttf?5f8d2e') format('truetype'),
    url('../../font/fonts/icomoon.woff?5f8d2e') format('woff'),
    url('../../font/fonts/icomoon.svg?5f8d2e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-plus {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  line-height: 1;
  font-size: 72px;
  color: white;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter {
  font-family: 'icomoon' !important;
  speak: none;
  line-height: 1;
  font-size: 25px;
  color: white;
  font-weight: 400;
 

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coffee.list-social,.icon-google.list-social,.icon-dribbble.list-social,.icon-twitter.list-social {
  font-family: 'icomoon' !important;
  speak: none;
  line-height: 1;
  font-size: 30px;
  color: white;
  padding: 15px;
  border: 1px solid white;
  margin-right: 20px;
  

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coffee.list-social:hover,.icon-google.list-social:hover,.icon-dribbble.list-social:hover,.icon-twitter.list-social:hover {
  color: black;
  border: 1px solid black;
}

.icon-coffee:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-google:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-plus1:before {
  content: "\ea0a";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
